<div class="container">
  <div id="loading" [hidden]="loading === false">
    <div class="spinner-holder">
      <div class="loader">Loading...</div>
    </div>
  </div>

  <form [formGroup]="myForm" [hidden]="loading === true">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <h3>Payment Information</h3>
          <div class="fields-holder">
            <div class="row">
              <div class="col-xs-12">
                <label for="frmCreditCard">Card Number</label>
                <input type="text" class="form-control" id="frmCreditCard" placeholder="" formControlName="frmCreditCard" required>
                <div class="info">
                </div>
              </div>
            </div> <!-- /row -->
            <div class="row">
              <div class="col-xs-4">
                <label for="frmCardExpMonth">Expiration Month</label>
                <input type="text" class="form-control" id="frmCardExpMonth" placeholder="" formControlName="frmCardExpMonth" required>
              </div>
              <div class="col-xs-4">
                <label for="frmCardExpYear">Expiration Year</label>
                <input type="text" class="form-control" id="frmCardExpYear" placeholder="" formControlName="frmCardExpYear" required>
              </div>
              <div class="col-xs-4">
                <label for="frmCardCVV">CVV</label>
                <input type="text" class="form-control" id="frmCardCVV" placeholder="" formControlName="frmCardCVV" required>
              </div>
            </div> <!-- /row -->
          </div>
        </div>
        <div class="form-group">
          <h3>Billing Information</h3>
          <div class="fields-holder">
            <div class="row">
              <div class="col-xs-6">
                <label for="frmFirstName">First Name</label>
                <input type="text" class="form-control" id="frmFirstName" placeholder="" formControlName="frmFirstName" required>
              </div>
              <div class="col-xs-6">
                <label for="frmLastName">Last Name</label>
                <input type="text" class="form-control" id="frmLastName" placeholder="" formControlName="frmLastName" required>
              </div>
            </div> <!-- /row -->
            <div class="row">
              <div class="col-xs-12">
                <label for="frmAddress">Address</label>
                <input type="text" class="form-control" id="frmAddress" placeholder="" formControlName="frmAddress" required>
              </div>
            </div> <!-- /row -->
            <div class="row">
              <div class="col-xs-5">
                <label for="frmCity">City</label>
                <input type="text" class="form-control" id="frmCity" placeholder="" formControlName="frmCity" required>
              </div>
              <div class="col-xs-3">
                <label for="frmState">State</label>
                <input type="text" class="form-control" id="frmState" placeholder="" formControlName="frmState" required>
              </div>
              <div class="col-xs-4">
                <label for="frmZip">Zip</label>
                <input type="text" class="form-control" id="frmZip" placeholder="" formControlName="frmZip" required>
              </div>
            </div> <!-- /row -->
            <div class="row">
              <div class="col-xs-6">
                <label for="frmCountry">Country</label>
                <input type="text" class="form-control" id="frmCountry" placeholder="" formControlName="frmCountry" required>
              </div>
              <div class="col-xs-6">
                <label for="frmEmail">Email Address</label>
                <input type="text" class="form-control" id="frmEmail" placeholder="" formControlName="frmEmail" required>
              </div>
            </div> <!-- /row -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <h3>Select Duration</h3>
          <div class="fields-holder">
            <div class="row">
              <div class="col-xs-12">
                <div class="radio">
                  <label><input type="radio" id="duration-6m" name="customRadio" class="custom-control-input"> 6 Months - $140.00 Stager ASP&reg; 6 Month Membership</label>
                </div>
                <div class="radio">
                  <label><input type="radio" id="duration-12m" name="customRadio" class="custom-control-input"> 1 Year - $280 Stager ASP&reg; 1 Year Membership</label>
                </div>
                <div class="radio">
                  <label><input type="radio" id="duration-24m" name="customRadio" class="custom-control-input"> 2 Years - $448 Stager ASP&reg; 2 Years Membership</label>
                </div>
                <div class="radio">
                  <label><input type="radio" id="duration-inf" name="customRadio" class="custom-control-input"> Lifetime - $2295.95 Stager ASP&reg; Lifetime Membership</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-footer">
          <div class="captcha-holder">
            <re-captcha 
              (captchaResponse)="handleCaptchaResponse($event)" 
              (captchaExpired)="handleCaptchaExpired()"
              site_key="xxx"
              ></re-captcha>
          </div>
          <button class="btn btn-default" type="button" (click)="handleUserSubscription()">Test</button>
          <button class="btn btn-default" type="button" [disabled]="!myForm.valid">Confirm</button>
        </div>
      </div>
    </div> <!-- /row -->
  </form>
</div><!-- /container -->
