<footer id="footer" class="clearfix ">


  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-content">
              <div class="logo-footer">
                <img id="logo-footer" src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/stagedhomes/Logo-StagedHomes.png" alt="StagedHomes.com">
              </div>
              <nav>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/blog/">Home Staging Blog</a></li>
                  <li><a href="https://www.ftc.gov/bcp/edu/pubs/business/ecommerce/bus61.shtm">Federally Registered Trademark</a></li>
                  <li><a href="https://pages.stagedhomes.com/terms-of-use/">Federal CAN-Spam Act</a></li>
                  <li><a href="/public/university.php">The Staging University</a></li>
                  <li><a href="/sitemap.php">Site Map</a></li>
                  <li><a href="https://stagedhomes.com/public/staff.php">About Us</a></li>
                  <li><a href="https://pages.stagedhomes.com/contact-us/">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-content">
              <h2 class="title text-bold">Upcoming ASP<sup>®</sup> Courses</h2>
              <div class="separator-2"></div>
              <nav>
                <ul class="nav nav-pills nav-stacked">
                  <li *ngFor="let courseEntry of coursesHolder; let i = index">
                    <a href="https://pages.stagedhomes.com/stagedhomes-courses-overview/">
                      <i class="fa fa-external-link-square space-3"></i> {{ mainService.formatDate(courseEntry['date']) }}: {{ courseEntry['city'] }}, {{ courseEntry['state'] }}
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="text-left space-top">
                <a href="https://pages.stagedhomes.com/stagedhomes-courses-overview/" class="btn btn-default btn-sm"><i class="fa fa-plus pr-10"></i> View More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-content">

              <h2 class="title text-bold">Staged Homes Blog</h2>
              <div class="separator-2"></div>

              <nav>
                <ul class="nav nav-pills nav-stacked">
                  <li id="blog-posts-container">
                    <a *ngFor="let newsEntry of newsHolder; let i = index" href="https://pages.stagedhomes.com/{{newsEntry['slug']}}/" target="_blank" rel="noopener">
                      <div class="padding-right-22">{{ mainService.formatDecodeHTML(newsEntry['title']['rendered']) }}</div>
                      <div><small>{{ newsEntry['date'] }}</small></div>
                    </a>
                  </li>
                </ul>
              </nav>

              <div class="text-left space-top">
                <a href="https://stagedhomes.com/blog/" class="btn btn-default btn-sm" target="_blank" rel="noopener"><i class="fa fa-plus pr-10"></i> View More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-content">
              <h2 class="title text-bold">Contact Us</h2>
              <div class="separator-2"></div>
              <p>We can be contacted through many social media platforms and we are also available directly. Below is our contact information.</p>
              <ul class="social-links circle animated-effect-1">
                <li class="facebook"><a target="_blank" rel="noopener" href="https://www.facebook.com/stagedhomes" onclick="ga('send', 'event', 'social facebook', 'click', 'footer');"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" rel="noopener" href="https://twitter.com/stagedhomescom" onclick="ga('send', 'event', 'social twitter', 'click', 'footer');"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/jennie-norris-aspm-iahsp-2705159" onclick="ga('send', 'event', 'social linkedin', 'click', 'footer');"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a target="_blank" rel="noopener" href="https://www.pinterest.com/jenniestager/" onclick="ga('send', 'event', 'social pintrest', 'click', 'footer');"><i class="fa fa-pinterest"></i></a></li>
                <li class="twitter"><a target="_blank" rel="noopener" href="https://drive.google.com/open?id=1Ih49GNKiHagKM5mxc1ZBTH8gCYtgvLv3" onclick="ga('send', 'event', 'social google business page', 'click', 'footer');"><i class="fa fa-home"></i></a></li>
              </ul>
              <div class="separator-2"></div>
              <ul class="list-icons">
                <li><a href="https://pages.stagedhomes.com/contact-us/" onclick="ga('send', 'event', 'phone number', 'click', 'footer');"><i class="fa fa-phone pr-10 text-default"></i> +1 800 392 7161</a></li>
                <li><a href="https://pages.stagedhomes.com/contact-us/" onclick="ga('send', 'event', 'email address', 'click', 'footer');"><i class="fa fa-envelope-o pr-10"></i>ASPCourses@StagedHomes.com</a></li>
                <li><a href="https://pages.stagedhomes.com/help-desk/" onclick="ga('send', 'event', 'email address', 'click', 'footer');"><i class="fa fa-envelope-o pr-10"></i>Help@StagedHomes.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="subfooter">
    <div class="container">
      <div class="subfooter-inner">
        <div class="row">
          <div class="col-lg-12 text-black text-center space-bottom-15">
            <p>
            </p><div class="text-bold">© 1999 - 2021 StagedHomes.com. All rights reserved.</div>
            <div class="text-12">
              Stage<sup>®</sup>, ASP<sup>®</sup>, ASPM<sup>®</sup>, StagedHomes.com<sup>®</sup>, IAHSP<sup>®</sup>, Accredited Staging Professional<sup>®</sup> are Federally Registered Trademarks of StagedHomes.com<sup>®</sup>
            </div>
            <div class="text-10">
              By using this site, you are agreeing to our <a href="https://pages.stagedhomes.com/terms-of-use/">Terms of Use</a>, Federal CAN-SPAM Act<br>
              The StagedHomes.com<sup>®</sup> website is designed by Barb Schwarz and <a href="https://stagedhomes.com/asps/asplist.php?zip=&amp;state=Choose+State&amp;text=Duane+Leem&amp;groups=none&amp;x=0&amp;y=0">Duane Leem</a><br>
              By providing this information you agree to receive text and email from stagedhomes.com and or IAHSP
            </div>
            <p></p>
          </div>
          <div class="col-lg-12 text-center">
            <ul class="list-inline subfooter-list-inline">
              <li><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/subfooter-logo-stager.png" class="subfooter-icons" alt="ASP Stagers"></li>
              <li><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/subfooter-logo-re.png" class="subfooter-icons" alt="ASP Real Estate Agents"></li>
              <li><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/asa-logo-transparent.png" class="subfooter-icons" alt="ASA Accredited Staging Assistant"></li>
              <li><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/subfooter-logo-aspm.png" class="subfooter-icons" alt="ASPM Masters"></li>
              <li><a href="https://iahsp.com"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/logo-iahsp-footer.png" class="subfooter-icons" alt="International Association of Home Staging Professionals"></a></li>
              <li><a href="https://iahsp.com/foundation.php"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/iahsp-transparent.png" class="subfooter-icons"></a></li>
              <li><a href="https://www.bbb.org/us/co/littleton/profile/home-staging/stagedhomes-com-0885-90249221/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-denver.bbb.org/seals/blue-seal-293-61-bbb-90249221.png" style="border: 0;" alt="StagedHomes.com BBB Business Review"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
